# Dependencies
node_modules/

# Production build
build/
dist/

# Testing
coverage/

# Package files
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env.*.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
